* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('/assets/imagens/background_menu.jpeg');
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

header img {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

button {
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}